@charset "utf-8";
/* CSS Document */

body{
	font-size: 25px;
	text-align: justify;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-width: 100%;
}
footer{
	width: 100%;
	background-color: #302E2E;
	padding: 2%;
	color: #eef0ed;
}
nav{
	position: fixed;
	width: 100%;
	background: #373535;
	padding:0 50px;
	box-sizing: border-box;
}
nav ul{
	margin: 0;
	padding: 0;
	float: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 20px 40px;
}
nav ul li a{
	color: #eef0ed;
	text-decoration: none;
	font-size: 1.3em;
}
nav ul li:hover{
	text-decoration: none;
	background: #E7842A;
}
.hid {
	display: none;
}
.social{
	padding-top: 10%;
	text-decoration: none;
	display: flex;
	justify-content:space-around;
}
.social img{
	filter: grayscale(0.5);
	transition: all 0.8s cubic-bezier(0.29, 0.07, 0, 1.82);
}
.social img:hover{
	filter: grayscale(0);
	transform: scale(1.15);
}
.social a{
	padding: 1em;
	border:solid 2px;
	border-radius: 10%;
	text-decoration: none;
	text-align: center;
	color:#3b5998;
}
#icon, #icon1, #icon2 {
	max-width: 450px;
	height: 167px;
}
#about{
	display: flex;
}
#about h4{
	padding-top: 5%;
	font-size: 1.3em;
	text-align: center;
}
#about article{
	flex-grow:1;
}
#about img{
	padding-top: 5%
	flex-grow:1;
	max-width: 455px;
	height: 455px;
}
#sutaz {
	display: flex;
}
#sutaz article{
	flex-grow:1;
}
#sutaz img{
	width: 100%;
	max-width: 250px;
	flex-grow:1;
}
@media (max-width : 900px ){
	.pc {
		display: none;
	}
	nav h1{
		display: block;
		float: none;
	}
	nav ul{
		float: none;
	}
	nav ul li{
		display: block;
		text-align: center;
	}
	
	
	/* carousel */
	.carousel-caption{
		display: none;
		
	}
	
	#icon, #icon1,#icon2{
		max-width: 150px;
		
	}
	h2{
		font-size: 1.7em;   
	}
	
	h4{
		font-size: 1.3em;
		font-style: italic;		
	}
}

#karoseria{
	font-size: 1.6em;
}
#karoseria h4{ 
	padding-bottom: 15%;
	text-align: center;
	font-size: 2em;
}
