@charset "utf-8";
/* CSS Document */

body{
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: justify;
	margin: 0;
	padding: 0;
}

nav{
	width: 100%;
	background: #373535;
	padding: 0 50px;
	box-sizing: border-box;
}
nav h1{
	margin: 0;
	padding: 10px 20px;
	float: left;
}
nav h1 a{
	color: #eef0ed;
	text-decoration: none;
}

nav ul{
	margin: 0;
	padding: 0;
	float: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 20px 40px;
	transition: .5s;	
}
nav ul li a{
	color: #eef0ed;
	text-decoration: none;
	font-size: 1.3em;
}

nav ul li:hover{
	background: #E7842A;
}


.responsive-bar{
	width: 100%;
	background: #302E2E;
	padding: 10px 30px;
	box-sizing: border-box;
	display: none;
}
.responsive-bar h3{
	margin: 0;
	padding: 3px 0;
	color: #eef0ed;
	float: left;
}

.responsive-bar h3 a{
	text-decoration: none;
	color: #eef0ed;
}
.responsive-bar h4 {
	margin:0;
	float: right;
	color: #eef0ed;
	padding: 5px 10px;
	background: #E7842A;
	text-transform: uppercase;
	cursor: pointer;
}
#start img{
	filter: grayscale(0.5);
	transition: all 0.8s cubic-bezier(0.29, 0.07, 0, 1.82);
}
#start img:hover{
	filter: grayscale(0);
	transform: scale(1.15);
}
#sponzors h1{
	text-align: center;
	text-transform: uppercase;
}
#sponzors img{
	padding: 30% 0; 
}
.sutaz{
	padding-top: 15%;
}
#wrt{
	padding-top: 4%;
}
.nd{
	padding-top: 10%;
}
@media (max-width : 900px ){
	nav{
		display: none;
	}
	.responsive-bar{
		display: block;
	}
	nav h1{
		display: block;
		float: none;
	}
	nav ul{
		float: none;
	}
	nav ul li{
		display: block;
		text-align: center;
	}
	.brand{
		display: none;
	}
	#wrt{
	padding-top: 10%;
}
	
	/* carousel */
	.carousel-caption{
		display: none;
		
	}
	
	#icon, #icon1,#icon2{
		max-width: 150px;
		
	}
	h2{
		font-size: 1.7em;   
	}
	
	h4{
		font-size: 1.3em;
		font-style: italic;		
	}
}

h4{
	font-style: italic;		
}
.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
}
.btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #fff;
	padding: 10px 18px;
	background: #E7842A;
	border: 5px solid #fff;
}

#icon, #icon1, #icon2 {
	max-width: 250px;
	height: 167px;
	margin: 7% auto;
}

.container{
	margin: 2% auto;
	
}
.logo{
	padding-top: 40px;
	padding-left:20px; 

}
footer{
	width: 100%;
	background-color: #302E2E;
	padding: 2%;
	color: #eef0ed;
}

h5{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	
}
